<div>
    {% extends "AppCoder/cursos.html" %}
    {% load static %}
    
    {% block getCurso %}
        <p>Consultar Cursos</p>
        <form action="/AppCoder/buscarCurso/" method="GET">
            <input placeholder="Nombre" type="text" name="nombre" id="nombre">
            <input type="submit" value="Buscar" class="btn btn-primary">
        </form>

        {% if cursos %}
            {% for curso in cursos %}
                <li> {{curso.nombre}} </li>
                <li> {{curso.camada}} </li>
                <li> {{curso.horario}} </li>
            {% endfor %}
        {% endif %}
    {% endblock %}    
</div>