<div>
    {% extends "AppCoder/entregables.html" %}
    {% load static %}
    
    {% block getEntregable %}
        <p>Consultar Entregable</p>
        <form action="/AppCoder/buscarEntregable/" method="GET">
            <input placeholder="Curso" type="text" name="curso" id="curso">
            <input type="submit" value="Buscar" class="btn btn-primary">
        </form>

        {% if entregables %}
            {% for entregable in entregables %}
                <li> {{entregable.curso}} </li>
                <li> {{entregable.fecha}} </li>
                <li> {{entregable.entregada}} </li>
            {% endfor %}
        {% endif %}
    {% endblock %}    
</div>