<div>
    {% extends "AppCoder/profesores.html" %}
    {% load static %}
    
    {% block getProfesor %}
        <p>Consultar Profesor</p>
        <form action="/AppCoder/buscarProfesor/" method="GET">
            <input placeholder="Nombre" type="text" name="nombre" id="nombre">
            <input type="submit" value="Buscar" class="btn btn-primary">
        </form>

        {% if profesores %}
            {% for profesor in profesores %}
                <li> {{profesor.nombre}} </li>
                <li> {{profesor.apellido}} </li>
                <li> {{profesor.email}} </li>
            {% endfor %}
        {% endif %}
    {% endblock %}    
</div>